<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handtelly_mm"
    android:versionCode="1"
    android:versionName="1.0"
    
     >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        
        
        android:theme="@android:style/Theme.NoTitleBar"
        >
        <!--  android:theme="@style/AppTheme" Default Theme -->
        <activity
            android:name="com.example.handtelly_mm.Splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.handtelly_mm.Mainview"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.example.handtelly_mm.helpview"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.example.handtelly_mm.aboutview"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.example.handtelly_mm.contactview"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"
            ></activity>
         
    </application>

</manifest>
